In [1]:
%load_ext autoreload
%autoreload 2

In [10]:
import autorootcwd
import os
import json

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [15]:
DIR = './results/final_experiments'
expts = os.listdir(DIR)
print(expts)
expts = [e for e in expts if os.path.isdir(f"{DIR}/{e}")]
rows = []
for e in expts:
    with open(f"{DIR}/{e}/metadata.json") as f:
        args = json.load(f)

    args = args['args']
    exp_name = args['exp_name']

    if not os.path.exists(f"{DIR}/{e}/test_metrics.json"):
        print(f"Skipping {e} because val_metrics.json does not exist")
        continue
    
    with open(f"{DIR}/{e}/test_metrics.json") as f:
        test = json.load(f)

    rows.append({
        'exp_name': exp_name,
        'acc': test['mean']['acc'],
        'root': test['mean']['root'],
        'third': test['mean']['third'],
        'seventh': test['mean']['seventh'],
        'mirex': test['mean']['mirex'],
        'mean_acc_class': test['class_wise']['acc']['mean'],
        'median_acc_class': test['class_wise']['acc']['median'],
    })
 
df = pd.DataFrame(rows)

['.DS_Store', 'synthetic_data', 'with_gen', 'cqt_weighted_structured_hmm', 'with_pitch_shift', 'normal_cqt', 'perfect_beats']

In [21]:
df.sort_values('acc', ascending=True, inplace=True)
df.drop(columns=['median_acc_class'])

,exp_name,acc,root,third,seventh,mirex,mean_acc_class
4,normal_cqt,61.568729,79.269656,76.540800,63.336040,80.566123,18.890938
1,with_gen,62.742930,80.361752,77.891284,64.555519,80.623142,19.476096
2,cqt_weighted_structured_hmm,62.767960,80.949065,78.307983,64.582812,80.556238,18.560108
3,with_pitch_shift,63.757928,82.366360,79.421855,65.627662,80.293504,19.706388
0,synthetic_data,64.368129,82.197006,79.855064,66.284023,81.517843,18.303313
5,perfect_beats,65.800435,84.527334,81.659864,67.559939,88.736279,21.237978