In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import autorootcwd
import json
import os
import pandas as pd

In [3]:
DIR = './results/gen_models'
expts = os.listdir(DIR)
rows = []
for e in expts:
    with open(f"{DIR}/{e}/metadata.json") as f:
        args = json.load(f)

    args = args['args']
    reduction = args['gen_reduction']
    model_name = args['gen_model_name']

    if not os.path.exists(f"{DIR}/{e}/val_metrics.json"):
        print(f"Skipping {e} because val_metrics.json does not exist")
        continue
    
    with open(f"{DIR}/{e}/val_metrics.json") as f:
        data = json.load(f)

        rows.append({
            'reduction': reduction,
            'model_name': model_name,
            'accuracy': data['mean']['acc'],
            'root': data['mean']['root'],
            'majmin': data['mean']['majmin'],
            'third': data['mean']['third'],
            'seventh': data['mean']['seventh'],
            'mirex': data['mean']['mirex'],
            'mean_acc_class': data['class_wise']['acc']['mean'],
            'median_acc_class': data['class_wise']['acc']['median'],
            'avg_transitions': data['avg_transitions_per_song']
        })
 

df = pd.DataFrame(rows)

In [4]:
df.sort_values(by=['accuracy'], inplace=True, ascending=False)
df

,reduction,model_name,accuracy,root,majmin,third,seventh,mirex,mean_acc_class,median_acc_class,avg_transitions
4,avg,large,59.420231,77.752017,75.357020,74.624971,61.676611,78.142062,18.255556,2.089395,98.120332
0,avg,large-lerp,58.380586,77.714220,74.704369,74.028362,60.567392,78.174762,18.250718,0.000000,96.551867
3,avg,chord,58.289304,76.786570,74.094072,73.453266,60.460821,77.710025,17.726813,1.101402,97.095436
1,avg,small,57.972456,76.821343,74.161117,73.485052,60.131712,77.211669,17.765614,0.572806,96.912863
2,avg,melody,57.120943,76.796629,73.262520,72.686008,59.271482,76.597578,17.846374,0.288936,96.937759

In [22]:
DIR = './results/gen_reductions'
expts = os.listdir(DIR)
rows = []
for e in expts:
    with open(f"{DIR}/{e}/metadata.json") as f:
        args = json.load(f)

    args = args['args']
    reduction = args['gen_reduction']
    model_name = args['gen_model_name']

    if not os.path.exists(f"{DIR}/{e}/val_metrics.json"):
        print(f"Skipping {e} because val_metrics.json does not exist")
        continue
    
    with open(f"{DIR}/{e}/val_metrics.json") as f:
        data = json.load(f)

        rows.append({
            'reduction': reduction,
            'model_name': model_name,
            'accuracy': data['mean']['acc'],
            'root': data['mean']['root'],
            'majmin': data['mean']['majmin'],
            'third': data['mean']['third'],
            'seventh': data['mean']['seventh'],
            'mirex': data['mean']['mirex'],
            'mean_acc_class': data['class_wise']['acc']['mean'],
            'median_acc_class': data['class_wise']['acc']['median'],
            'avg_transitions': data['avg_transitions_per_song']
        })
 

df = pd.DataFrame(rows)

In [25]:
df.sort_values(by=['reduction'], inplace=True, ascending=False)
df

,reduction,model_name,accuracy,root,majmin,third,seventh,mirex,mean_acc_class,median_acc_class,avg_transitions
0,concat,large,58.886573,78.241906,75.539835,74.825686,61.185463,77.593076,17.120612,0.000000,95.734440
2,codebook_3,large,57.508506,75.432336,73.293263,72.540876,59.695145,78.438320,18.205519,0.000000,97.033195
1,codebook_2,large,58.879397,77.548040,75.009627,74.286408,61.063166,77.574612,19.228594,4.147008,98.041494
3,codebook_1,large,59.042020,77.683664,75.335023,74.606638,61.296491,78.468618,18.275082,3.931757,97.929461
4,codebook_0,large,58.129333,77.620394,74.597454,74.014304,60.295936,78.225891,18.157937,1.522911,98.356846
5,avg,large,59.420231,77.752017,75.357020,74.624971,61.676611,78.142062,18.255556,2.089395,98.120332

In [19]:
DIR = './results/gen_down_dim'
expts = os.listdir(DIR)
rows = []
for e in expts:
    with open(f"{DIR}/{e}/metadata.json") as f:
        args = json.load(f)

    args = args['args']
    reduction = args['gen_reduction']
    model_name = args['gen_model_name']
    dim = args['gen_down_dimension']

    if not os.path.exists(f"{DIR}/{e}/val_metrics.json"):
        print(f"Skipping {e} because val_metrics.json does not exist")
        continue
    
    with open(f"{DIR}/{e}/val_metrics.json") as f:
        data = json.load(f)

        rows.append({
            'reduction': reduction,
            'model_name': model_name,
            'dim': dim,
            'accuracy': data['mean']['acc'],
            'root': data['mean']['root'],
            'majmin': data['mean']['majmin'],
            'third': data['mean']['third'],
            'seventh': data['mean']['seventh'],
            'mirex': data['mean']['mirex'],
            'mean_acc_class': data['class_wise']['acc']['mean'],
            'median_acc_class': data['class_wise']['acc']['median'],
            'avg_transitions': data['avg_transitions_per_song']
        })
 

df = pd.DataFrame(rows)

In [20]:
df.sort_values(by=['dim'], inplace=True)
df.drop(columns=['reduction', 'model_name', 'mean_acc_class', 'median_acc_class' ,'avg_transitions' ,'majmin'], inplace=True)
df

    dim   accuracy       root      third    seventh      mirex
5    16  58.376589  77.614771  74.461286  60.564814  77.230926
4    32  57.831755  77.459440  73.642443  60.035396  77.813947
0    64  59.200180  77.455065  74.341596  61.446334  77.865380
2   128  58.070835  77.012977  73.583278  60.345484  77.400815
1   256  58.676068  77.601648  74.309018  60.927671  77.504928
6   512  58.337590  77.946258  74.322985  60.618689  77.579531
3  1024  58.429503  76.692052  73.487027  60.654095  76.681293

In [32]:
DIR = './results/gen_feature_comparison'
expts = os.listdir(DIR)
rows = []
for e in expts:
    with open(f"{DIR}/{e}/metadata.json") as f:
        args = json.load(f)

    args = args['args']
    exp_name = args['exp_name']
    reduction = args['gen_reduction']
    model_name = args['gen_model_name']
    dim = args['gen_down_dimension']

    if not os.path.exists(f"{DIR}/{e}/val_metrics.json"):
        print(f"Skipping {e} because val_metrics.json does not exist")
        continue
    
    with open(f"{DIR}/{e}/val_metrics.json") as f:
        data = json.load(f)

        rows.append({
            # 'reduction': reduction,
            # 'model_name': model_name,
            # 'dim': dim,
            'exp_name': exp_name,
            'accuracy': data['mean']['acc'],
            'root': data['mean']['root'],
            'majmin': data['mean']['majmin'],
            'third': data['mean']['third'],
            'seventh': data['mean']['seventh'],
            'mirex': data['mean']['mirex'],
            'mean_acc_class': data['class_wise']['acc']['mean'],
            'median_acc_class': data['class_wise']['acc']['median'],
            'avg_transitions': data['avg_transitions_per_song']
        })
 

df = pd.DataFrame(rows)

In [33]:
df.drop(columns=['mean_acc_class', 'median_acc_class' ,'avg_transitions' ,'majmin'], inplace=True)
df

      exp_name   accuracy       root      third    seventh      mirex
0  gen_and_cqt  60.980857  80.325841  76.964590  63.264108  78.440545
1     gen_only  58.676068  77.601648  74.309018  60.927671  77.504928
2     cqt_only  60.974034  79.823998  76.831086  63.230261  79.253325